#!/usr/bin/make -f

export CGO_ENABLED = 0
export GOFLAGS = -trimpath -mod=readonly
export GOCACHE = $(CURDIR)/debian/.gocache
export HOME = $(CURDIR)/debian/.home

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
ifeq ($(DEB_HOST_ARCH),amd64)
export GOARCH = amd64
else ifeq ($(DEB_HOST_ARCH),arm64)
export GOARCH = arm64
else ifeq ($(DEB_HOST_ARCH),armhf)
export GOARCH = arm
export GOARM = 7
endif

%:
	dh $@

override_dh_auto_build:
	go build -ldflags="-s -w" -o jotasrv .

override_dh_auto_test:

override_dh_auto_install:
	install -Dm755 jotasrv debian/jotasrv/usr/bin/jotasrv

override_dh_dwz:
override_dh_strip:

override_dh_auto_clean:
	rm -f jotasrv
	rm -rf debian/.gocache debian/.home
